/*
We instead use the default classes from bootstrap
.flash{
	color: white;
}

.flash.alert--success{
	background-color: green;
}

.flash.alert--error{
	background-color: red;
}

.flash.alert--warning{
	background-color: yellow;
}

.flash.alert--info{
	background-color: gray;
}*/